*
h1 {
    color:darkred;
}

nav {
    text-align: center;
    background: pink;
}

.gallery img {
  width: 300px;
  height: 200px;
}

.grid_container {
  background-image: url('../codespaces-blank/imagebg/PHbackground.jpg'); 
}