*
h1 {
    color: whitesmoke
}

h2 {
   color: white
}

body{
    background-image: url('../imagebg/PHbg.jpg'); 
    background-size: 100vw 100vh;
}

nav {
    text-align: center;
    background: pink;
}

.gallery img {
  width: 300px;
  height: 200px;
}


 